<script type="text/javascript">

jQuery(document).ready(function(){
  if ($("#group2Exists").prop('checked') == true) {
    jQuery("#group2assign").css('display','inline-block');
  } else {
    jQuery("#group2assign").css('display','none');
  }
});

  function showGroup2(divID) {
    if ($(divID).css('display') == 'none') {
      jQuery(divID).css('display','inline-block');
    } else {
      jQuery(divID).css('display','none');
    }
  }

  function fillCommentForm(formID) {
    var x = '<%= @comment_forms_for_drop.to_json.html_safe %>';
    x = JSON.parse(x);
    var selectedID = $('#comment_forms_'+formID).find(":selected").val();
    for (var i = 0; i < x.length; i++) {
      if (x[i].id == selectedID) {
        x = x[i];
      }
    }
    $('#assignment_comment_forms_attributes_'+formID+'_name').val(x.name);
    $('#assignment_comment_forms_attributes_'+formID+'_question1').val(x.question1);
    $('#assignment_comment_forms_attributes_'+formID+'_hint1').val(x.hint1);
    $('#assignment_comment_forms_attributes_'+formID+'_question2').val(x.question2);
    $('#assignment_comment_forms_attributes_'+formID+'_hint2').val(x.hint2);
    $('#assignment_comment_forms_attributes_'+formID+'_question3').val(x.question3);
    $('#assignment_comment_forms_attributes_'+formID+'_hint3').val(x.hint3);
    $('#assignment_comment_forms_attributes_'+formID+'_question4').val(x.question4);
    $('#assignment_comment_forms_attributes_'+formID+'_hint4').val(x.hint4);
  }
</script>


<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title, "Assignment Title" %>
  <%= f.text_field :title %><br><br>
  <div class="row">
    <div class="col-md-6">
      <b>Group 1 Assignment</b><br>
      <%= f.label :description %>
      <%= f.cktext_area :description %><br>

      <h4>Comment Form for Group 1</h4>
      <%= f.fields_for :comment_forms, @assignment.comment_forms[0] do |c| %>
        <h5>Reuse a pre-existing comment form: <%= f.collection_select :comment_forms, @comment_forms_for_drop, :id, :name, {:prompt => true}, {:id => "comment_forms_0", :onChange => "fillCommentForm(0);"} %></h5>
        <%= c.hidden_field :group_number, value: 1 %>
        <%= c.label :name, "Name this Comment Form:" %>
        <%= c.text_field :name %><br>

        Write in up to four comment prompts for this comment form.<br>
        <ul>
          <li>
            <%= c.label :question1, "Question:" %>
            <%= c.text_field :question1 %><br>
            <%= c.label :hint1, "Hint:" %>
            <%= c.text_field :hint1 %>
          </li>
          <li>
            <%= c.label :question2, "Question:" %>
            <%= c.text_field :question2 %><br>
            <%= c.label :hint2, "Hint:" %>
            <%= c.text_field :hint2 %>
          </li>
          <li>
            <%= c.label :question3, "Question:" %>
            <%= c.text_field :question3 %><br>
            <%= c.label :hint3, "Hint:" %>
            <%= c.text_field :hint3 %>
          </li>
          <li>
            <%= c.label :question4, "Question:" %>
            <%= c.text_field :question4 %><br>
            <%= c.label :hint4, "Hint:" %>
            <%= c.text_field :hint4 %>
          </li>
        </ul>
      <% end %>
    </div>

    <div class="col-md-6">
      <label id="group2ExistsLabel" data-toggle='tooltip' data-placement='top' data-original-title="If you no longer want a second group, please delete any text in the Group 2 Description box before unchecking this box!">
        Group 2 Assignment?
        <!-- <input type="checkbox" path="group2Exists" id="group2Exists" value="" onclick="showGroup2(group2assign)" ></input> -->
        <%= f.check_box :is2group, :path => "group2Exists", :id => "group2Exists", :onclick => "showGroup2(group2assign);" %>
      </label>
      <div id="group2assign" >
        <%= f.label :group_2_description%>
        <%= f.cktext_area :description2, :id => 'desc2'%><br>

        <h4>Comment Form for Group 2</h4>
        <%= f.fields_for :comment_forms, @assignment.comment_forms[1] do |c| %>
        <h5>Reuse a pre-existing comment form: <%= f.collection_select :comment_forms, @comment_forms_for_drop, :id, :name, {:prompt => true}, {:id => "comment_forms_1", :onChange => "fillCommentForm(1);"} %></h5>
          <%= c.hidden_field :group_number, value: 2 %>
          <%= c.label :name, "Name this Comment Form:" %>
          <%= c.text_field :name %><br>

          Write in up to four comment prompts for this comment form.<br>
          <ul>
            <li>
              <%= c.label :question1, "Question:" %>
              <%= c.text_field :question1 %><br>
              <%= c.label :hint1, "Hint:" %>
              <%= c.text_field :hint1 %>
            </li>
            <li>
              <%= c.label :question2, "Question:" %>
              <%= c.text_field :question2 %><br>
              <%= c.label :hint2, "Hint:" %>
              <%= c.text_field :hint2 %>
            </li>
            <li>
              <%= c.label :question3, "Question:" %>
              <%= c.text_field :question3 %><br>
              <%= c.label :hint3, "Hint:" %>
              <%= c.text_field :hint3 %>
            </li>
            <li>
              <%= c.label :question4, "Question:" %>
              <%= c.text_field :question4 %><br>
              <%= c.label :hint4, "Hint:" %>
              <%= c.text_field :hint4 %>
            </li>
          </ul>
        <% end %>

      </div>
    </div>
  </div>
  <br><br>
  <div align="center">
    <%= f.label :draft_deadline%>
    <%= f.datetime_select(:draft_deadline, ampm: true)%><br><br>
    <%= f.label :comment_deadline%>
    <%= f.datetime_select(:comment_deadline, ampm: true)%><br><br>
    <%= f.label :final_deadline%>
    <%= f.datetime_select(:final_deadline, ampm: true)%><br>

    <br><br>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
