<script>
$(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
jQuery(document).ready(function(){
        if($("#desc2").val().length > 0){
          $("#group2assign").show();
          $("#group2Exists").prop( "checked", true );
          // $("#group2Exists").prop( "disabled", true );
          jQuery('#group2Exists').on('click', function(event) {        
             jQuery('#group2assign').toggle('hide');
          });
        } else {
          $("#group2assign").hide();
          jQuery('#group2Exists').on('click', function(event) {        
             jQuery('#group2assign').toggle('show');
          });
        }
    });
</script>


<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :title%>
  <%= f.text_field :title %><br>
  <div class="row">
    <div class="col-md-6">
      <b>Group 1 Assignment</b><br>
      <%= f.label :description %>
      <%= f.cktext_area :description %><br>
    </div>
    <div class="col-md-6">
      <label id="group2ExistsLabel" data-toggle='tooltip' data-placement='top' data-original-title="If you no longer want a second group, please delete any text in the Group 2 Description box!">
        Group 2 Assignment? 
        <input type="checkbox" path="group2Exists" id="group2Exists" value="" ></input>
      </label>
      <div id="group2assign">
        <%= f.label :group_2_description%>
        <%= f.cktext_area :description2, :id => 'desc2'%><br>
        <!-- place group 2's comment form here! -->
      </div>
    </div>
  </div>
  <div align="center">
  <%= f.label :draft_deadline%>
  <%= f.datetime_select(:draft_deadline, ampm: true)%><br><br>
  <%= f.label :comment_deadline%>
  <%= f.datetime_select(:comment_deadline, ampm: true)%><br><br>
  <%= f.label :final_deadline%>
  <%= f.datetime_select(:final_deadline, ampm: true)%><br>
  
  <!-- <%= f.nested_fields_for :positions do |positions_form| %>
    <h4>Position:</h4>
      <%= positions_form.label :title %>
      <%= positions_form.text_field :title %>
      <%= positions_form.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %>
    <br>
  <% end %>
  <br>
  <%= f.add_nested_fields_link :positions, 'Add Another Position', class: 'btn btn-primary', role: 'button' %> -->
  
  <br>  
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>