<script>
jQuery(document).ready(function(){
        $("#content").hide();
        jQuery('#hideshow').on('click', function(event) {        
             jQuery('#content').toggle('show');
        });
    });
</script>

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h1 align="center">Posts for <%=Assignment.where(:id => params[:assignment_id]).first.title%></h1></div>
<table class="table" align="center">
  <thead>
    <th><h3>Headline</h3></th>
    <th><h4>Author</h4></th>
    <% if @assignment.is2group %>
      <th><h4>Group Number</h4></th>
    <% end %>
    <th><h4>Link</h4></th>
    <% if current_user.admin? %>
      <th><h4>Note for This Post</h4></th>
    <% end %>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <% if post.submitted %>
        <% if current_user.admin %>
          <tr>
            <td><h4><%= post.headline %></h4></td>
            <td><%= post.user.name %></td>
            <!-- Check which group number post was for (if there were 2 groups) -->
            <% if @assignment.is2group %>
              <% if post.user.assigned_groups[@twoGroupCount.to_i - 1] == "1" %>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1</td>
              <% else %>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</td>
              <% end %>
            <% end %> 
            <td><%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></td>
            <% if post.notes.where(:user_id => current_user.id).exists? %>
              <td><div id='content'><%= post.notes.where(:user_id => current_user.id).first.content %></div>
              <input type='button' id='hideshow' value='Hide / Show' class="btn btn-default btn-sm">
            <% end %>
          </tr>
        <% else %>
          <tr>
            <td><h4><%= post.headline %></h4></td>
            <td><%= post.user.name %></td>
            <% if @assignment.is2group %>
              <% if post.user.assigned_groups[@twoGroupCount.to_i - 1] == "1" %>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1</td>
              <% else %>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</td>
              <% end %>
            <% end %> 
            <td><%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></td>
          </tr>


          <!-- <% if @assignment.positions.count == 1 || @assignment.positions.count == 0 %>
            <tr>
            <td><%= post.headline %></td>
            <td><%= post.user.name %></td>
            <% if post.position.nil? %>
            <td>No position for this assignment</td>
            <% else %>
            <td><%= post.position.title %></td>
            <% end %>
            <td><%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></td>
          </tr>
          <% elsif @post.position_id != post.position_id %> 
             <tr>
            <td><%= post.headline %></td>
            <td><%= post.user.name %></td>
            <% if post.position.nil? %>
            <td>No position for this assignment</td>
            <% else %>
            <td><%= post.position.title %></td>
            <% end %>
            <td><%= link_to 'Go to Post', post, class:'btn btn-default btn-sm' %></td>
          </tr>
          <% end %> -->
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="panel-footer"></div>

</div>

<br>

<!--= button_to 'New Post', new_post_path -->
