<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script type="text/javascript">

function showComment(linkID, divID) {
  if ($(divID).css('display') == 'none') {
    jQuery(divID).css('display','inline-block');
  } else {
    jQuery(divID).css('display','none');
  }
}

function expandAll() {
  $(".toggle-able").css('display', 'inline-block');
}

function collapseAll() {
  $(".toggle-able").css('display', 'none');
}

$(function() {
  $( "#resizable" ).resizable({
    minHeight: 70,
    minWidth: 100
  });
});
</script>


<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @post.headline %><small>                  by: <%= @post.user.name %></small></h1>
</div>

<div class="row">
  <div class="col-md-9" id="mainPost" data-target="#myScrollspy">
  <br>
  <h4 id="firstDraft">First Draft</h4>
  <div id="resizable" class="well well-lg ui-widget-content" style="resize: both; overflow: hidden;">
     <%= @post.draft1.html_safe %>
  </div>

  <div class="row">
    <div class="col-sm-8">
    
      <h4 id="comments">Comments</h4>
      <div align="center">
        <button id="expandAll" class="btn btn-default btn-xs" onclick="expandAll()">Expand All Comments</button>
        <button id="collapseAll" class="btn btn-default btn-xs" onclick="collapseAll()">Collapse All Comments</button><br><br>
      </div>
      <div class="alert alert-warning" role="alert">
        <%if Time.now > @post.assignment.comment_deadline %>
          The Commenting Deadline has passed.
        <% else %>
          <%= "Time Until Comment Deadline: " + Time.diff(Time.zone.now, @post.assignment.comment_deadline)[:diff] + "\n" %>
          <br>
        <% end %>
      </div>
      <!-- <table class="table table-bordered"> -->
        <%@comments = @post.comments.order('created_at ASC')%>
        <div id="commentDiv">
        <%@comments.each_with_index do |c, index|%>
          <div class="row" id="listAllComments">
          <!-- <tr>
            <td width="10%" align="center"> -->
            <div class="col-md-4" align="center" style="padding:20px; background-color: #f2f2f2; border: 3px solid #fff;" onclick="">
              Commenter: <%=c.user.name%><br>
              <button id="<%='expand' + index.to_s %>" onclick="showComment(this.id, <%='more'+index.to_s %>)" class="btn btn-default btn-xs"> Expand/Collapse
              </button>
            </div>
            <div class="toggle-able col-md-8" id="<%='more'+index.to_s %>" style="display: none; word-wrap: break-word; border: 3px solid #fff; padding: 20px;">
              <% c.comment_answers.each do |a| %>
                <b><%= CommentPrompt.find(a.comment_prompt_id).question %></b>:
                <%=a.content.html_safe%><br>
                <!-- </tr><tr> -->
              <% end %>
            </div>
<!--             </td>
          </tr> -->
          </div>
        <%end%>
      </div>
<!--       </table> -->
      <!-- create new comment -->
      <% if Time.now <= @post.assignment.comment_deadline || current_user.admin? %> <!-- deadline hasn't passed, or user is an admin, so user can still write comments -->
      <h4>Comment Form</h4>
        <%=form_for(Comment.new) do |f|%>
          <%=f.hidden_field :user_id, value: current_user.id%>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.hidden_field :comment_form_id, value: @form.id %>
          
          <div class="row">

          <% @form.comment_prompts.each do |prompt| %>
            <% if prompt.question.length > 0 %>
              <div class="col-sm-4">
                <b><%= prompt.question %></b><br>
                Hint: <%= prompt.hint %>
              </div>
              <div class="col-sm-8">
                <%= f.fields_for :comment_answers, CommentAnswer.new do |c| %>
                  <div class="field">
                    <%= c.hidden_field :user_id, value: current_user.id %>
                    <%= c.hidden_field :comment_prompt_id, value: prompt.id %>
                    <%= c.text_area :content, :cols => "90" %><br>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          </div>
          <%=f.submit "Save Comment"%>
        <%end%>
      <% end %>
    </div>
  </div>
  <br><br>
  <% if @post.draft2 != nil && @post.draft2.length > 0 %>
    <h4 id="finalDraft">Final Draft</h4>
    <div class="well well-lg">
      <%= @post.draft2.html_safe %>
    </div>
  <% end %>

  <div align="right">
    
  </div>
</div>

<nav class="col-sm-3" id="myScrollspy" >
  <div data-spy="affix">
    <div class="row" id="postNavButtons" align="center">
      <a href="#firstDraft" class="btn btn-default">First Draft</a>
      <a href="#comments" class="btn btn-default">Comments</a>
      <a href="#finalDraft" class="btn btn-default">Final Draft</a>
    </div>
    <br>
    <% if @post.likes.count != nil %>
      <h4>Likes: <%= @post.likes.count %></h4>
    <% end %>
    <% unless @post.user == current_user %>
      <% if Like.where(post_id: @post.id, user_id: current_user.id).exists? %>
        <% @like = Like.where(post_id: @post.id, user_id: current_user.id).first %>
        <%= button_to 'Unlike', @like, method: :delete%>
      <% else %>
        <%=form_for(Like.new) do |f|%>
          <%=f.hidden_field :user_id, value: current_user.id%>
          <%=f.hidden_field :post_id, value: @post.id%>
          <%= f.submit 'Like' %>
        <% end %>
      <% end %>
    <% end %>
    <br>
    <h4>Notes</h4>
    <p>Take notes on this post here. Only you can see your notes.</p>
    <% if @post.notes.where(:user_id => current_user.id).exists? %>
          <%=form_for(@post.notes.where(:user_id => current_user.id).first) do |f|%>
            <%=f.text_area :content %><br>
            <%=f.submit "Save Note" %>
          <%end%>
      <%else%>
        <%=form_for(Note.new) do |f|%>
          <%=f.text_area :content %>
          <%=f.hidden_field :user_id, value: current_user.id %>
          <%=f.hidden_field :post_id, value: @post.id %><br>
          <%=f.submit "Save Note" %>
        <%end%>
      <% end %>
    </div>
</nav>
</div>
